<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Adminhome</servlet-name>
  	<display-name>Adminhome</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.Adminhome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<display-name>ViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.ViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCrossings</servlet-name>
  	<display-name>ViewCrossings</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.ViewCrossings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServletUser</servlet-name>
  	<display-name>ViewServletUser</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.ViewServletUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServletUser</servlet-name>
  	<display-name>SearchServletUser</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServletUser</servlet-name>
  	<display-name>LoginServletUser</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServletUser</servlet-name>
  	<display-name>UpdateServletUser</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.UpdateServletUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyServlet</servlet-name>
  	<display-name>ModifyServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.admin.ModifyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFavourites</servlet-name>
  	<display-name>ViewFavourites</display-name>
  	<description></description>
  	<servlet-class>com.servlet.user.ViewFavourites</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Adminhome</servlet-name>
  	<url-pattern>/Adminhome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCrossings</servlet-name>
  	<url-pattern>/ViewCrossings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServletUser</servlet-name>
  	<url-pattern>/ViewServletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServletUser</servlet-name>
  	<url-pattern>/SearchServletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServletUser</servlet-name>
  	<url-pattern>/LoginServletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServletUser</servlet-name>
  	<url-pattern>/UpdateServletUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyServlet</servlet-name>
  	<url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFavourites</servlet-name>
  	<url-pattern>/ViewFavourites</url-pattern>
  </servlet-mapping>
</web-app>
